[submodule "oh-my-zsh"]
	path = .dotfiles/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "oh-my-zsh-plugins/plugins/zsh-syntax-highlighting"]
	path = .dotfiles/oh-my-zsh-plugins/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "tmux-resurrect"]
	path = .dotfiles/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux-yank"]
	path = .dotfiles/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
