[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "oh-my-zsh-plugins/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh-plugins/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "tmux-resurrect"]
	path = tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux-yank"]
	path = tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "tmux-sensible"]
	path = tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
